version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: products_mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: products_db
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  api:
    build: .
    container_name: products_api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev

volumes:
  mongodb_data:
    driver: local

networks:
  app-network:
    driver: bridge
